
.font-geogia{
    font-family: Georgia, serif;
}

.font-size-160{
    font-size: 160%;
}
.uppercase{
    text-transform: capitalize;
}
.bg-lightgray{
    background: lightgray;
}
.italic{
    font-style: italic;
}
p{
    font-size:1.2rem;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: rebeccapurple;
}
a:hover{
    color: brown;
}

body{
    width: 90%;
    margin: auto;


    background: -webkit-linear-gradient(90deg, rgb(193, 148, 116), rgb(239, 104, 38));
    background: linear-gradient(90deg, rgb(193, 148, 116), rgb(239, 104, 38));


}

